<%provide(:title, "Home")%>
<div class="homepage-body form-wrapper">
  <div>
    <h1 class="large-text">Eagles Flight</h1>
  </div>
  <div class="row">
   <%%>
    <div class="col s12">
        <div class="row">
          <div class="col s6">
          </div>
          <div class="col s6">
          </div>
        </div>
    </div>
    <div class="col s12">
        <div class="row">
          <div class="col s6">
          </div>
          <div class="col s6">
          </div>
        </div>
    </div>
    <div class="col s4 offset-s4">
    </div>
     <%end%>
  </div>
</div>