<table class="bordered striped highlight centered responsive-table">
  <thead>
    <tr>
        <th data-field="name">Airline</th>
        <th data-field="name">Plane</th>
        <th data-field="address">From</th>
        <th data-field="address">To</th>
        <th data-field="date">Date</th>
        <th data-field="time">Time</th>
        <th data-field="cost">Cost for <%=params[:number]%></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table>