@import "materialize/components/color";
$primary-color: color("blue", "darken-2") !default;
@import "materialize";

.mini-body{
  padding-top: 70px;
}
.form-wrapper{
  margin: 30px;
  padding: 10px;
  background-color: rgba(50,150,255,0.8);
}
  #head-view{
}
label{
  font-size: 13px;
  font-weight: bold;
  color: white;
  letter-spacing: -1px;
}
select{
  display: block;
}
body {
  background-image: url("http://www.hdwallpapers.in/download/airplane_wing-1440x900.jpg");
  background-repeat: no-repeat;
}

.our-radio{
  position: relative !important;
  left: 0 !important;
  visibility: visible !important;
}

.search-table{
  padding: 10px;
  background-color: rgba(50,150,255,0.8);
}

.rendered-page{
  margin-top: 50px;
}
.padded{
  margin-top: 30px;
  padding: 20px;
}

.input-field label {
  color: white;
}
input#user_name.validate{
  border-bottom: 2px solid white;
}
input#user_email.validate{
  border-bottom: 2px solid white;
}
input#user_password.validate{
  border-bottom: 2px solid white;
}
input#user_password_confirmation.validate{
  border-bottom: 2px solid white;
}
input#session_email.validate{
  border-bottom: 2px solid white;
}
input#session_password.validate{
  border-bottom: 2px solid white;
}